[submodule "react-d3-core"]
	path = react-d3-core
	url = https://github.com/react-d3/react-d3-core
[submodule "react-d3-tooltip"]
	path = react-d3-tooltip
	url = https://github.com/react-d3/react-d3-tooltip
[submodule "react-d3-zoom"]
	path = react-d3-zoom
	url = https://github.com/react-d3/react-d3-zoom
[submodule "react-d3-basic"]
	path = react-d3-basic
	url = https://github.com/react-d3/react-d3-basic
[submodule "react-d3-brush"]
	path = react-d3-brush
	url = https://github.com/react-d3/react-d3-brush
[submodule "react-d3-example"]
	path = react-d3-example
	url = https://github.com/react-d3/react-d3-example
